@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

:root {
    --white: #fff;
    --whitesmoke: #F9F9F9;
    --light-grey: #ECECEC;
    --grey: #C4C4C4;
    --medium-grey: #A7A7A7;
    --deep-grey: #343434;
    --black: #000000;
    --blue: #1B77F3;
    --red: #CF3C3F;
}

main {
    display: flex;
}

.login{
display: flex ;
flex-direction: column;
align-items: center;
justify-content: space-between;
width: 100%;
max-width: 500px;
min-height: 100vh;
padding: clamp(35px, 8%, 70px);
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login__logo {
width: 130px;
margin-bottom: 80px;
}

.login__title {
color: var(--deep-grey);
font-size: 1.5em;
margin-bottom: 30px ;
}

.login__label {
display: block;
margin-bottom: 20px;
width: 100%;
}

.input {
    width: 100%;
    background-color: var(--light-grey);
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    outline: none;
    font-size: 0.9em;
    padding: 25px 10px 10px;
    font-weight: 600;
    color: var(--deep-grey);
}
.input__container {
    position: relative;
    width: 100%;
}

.toggle__password {
    position: absolute;
    right: 10px; /* Alinhado à direita */
    top: 50%;    /* Centralizado verticalmente */
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2em;
    color: var(--medium-grey); /* Cor padrão do ícone */
}

.toggle__password:hover {
    color: var(--deep-grey); /* Cor quando o ícone é passado com o mouse */
}

.input:focus {
    background-color: var(--whitesmoke);
    border: 2px solid var(--deep-grey);
}

.login__label span {
   position: absolute; 
   font-size: 0.8em;
   font-weight: 700;
   text-transform: uppercase;
   color: var(--medium-grey);
   margin: 20px;
   cursor: text;
   transition: all 200ms ease;
}

.input:focus {
    background-color: var(--whitesmoke);
    border: 2px solid var(--deep-grey);
}

.login__label .span-active {
    font-size: 0.7em;
    margin: 8px 10px;
}


.password-requirements {
    font-size: 0.9em;
    color: var(--deep-grey);
    margin-bottom: 15px;
}

.password-requirements ul {
    list-style: none;
    font-size: 15px;
}

.password-requirements li {
    margin-bottom: 5px;
}

.invalid {
    color: rgb(255, 0, 0);
}

.valid {
    color: rgb(1, 155, 1);
}


.link__recover-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.link__redefine {
    font-size: 0.8em;
    font-weight: 700;
    color: var(--deep-grey);
    transition: color 0.3s ease;
    text-align: right;
}


.button__password {
    height: 50px;
    width: 100%;
    background-color: rgb(255, 0, 0);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 18px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    margin-top: 35;
}

.button__password:disabled{
    cursor: pointer;
    background-color: var(--medium-grey);
    border: 2px solid var(--medium-greygrey);
    color: var(--white);
}


.wallpaper {
    width: 100%;  
    background-image: url('./images/wallpaper2.png.jpg');
    background-size: cover;
    background-position: center;
    flex: 1;
}

.success__message {
    display: none;
    background-color: #28a745; 
    color: #fff; 
    padding: 10px 15px; 
    border-radius: 5px; 
    font-size: 1rem; 
    text-align: center; 
    margin-top: 35px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.wallpaper {
    width: 100%;  
    background-image: url('../images/wallpaper2.png.jpg');
    background-size: cover;
    background-position: center;
    flex: 1;
}